<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f1f1f1;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #ff0000;
      font-size: 40px;
      margin-top: 100px;
    }

    .gif-container {
      margin-top: 50px;
    }

    .gif-img {
      max-width: 150%;
     # animation: spin 2s infinite linear;
    }

    @keyframes spin {
     # 0% { transform: rotate(0deg); }
    #  100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
  <h1>No es correcta! No te desanimes.</h1>
  
  <div class="gif-container">
    <img src="/images/incorrecto.gif" class="gif-img" alt="Gif animado">
  </div>
  <br><br>
  
  <span class="return"><a href="/pregunta">Continuar </a></span>

</body>
</html>
